.tnm-widget-container {
  &.type-card {
    .item {
      strong {
        font-size: 1.125rem;
      }
    }
  }
}

// 모바일
@media (max-width: 768px) {
  .tnm-widget-container {
    &.type-card {
      .item {
        strong {

        }
      }
    }
  }
}

@media (min-width: 769px) {
  .tnm-widget-container {
    &.type-card {
      .item {
        float: left;
        width: 48.5%;
        margin-bottom: 32px;

        /*
          2 column 배치
          왼쪽 item clear
        */
        &:nth-child(odd) {
          clear: both;
          margin-right: 3%;
        }

        strong {
          @include webkit-box(1);
          white-space: nowrap;
          font-size: 1.5rem;
        }
      }
    }
  }
}

