.tnm-head-container {
  &.open {
    .buttons button {
      color: #FFF;
    }

    .tnm-orange & {
      background-color: $orange;
    }
    .tnm-blue & {
      background-color: $blue;
    }
    .tnm-green & {
      background-color: $green;
    }
  }
}
