.tnm-widget-container {
  &.type-featured {
    font-size: 1rem;

    .item {
      line-height: 24px;
      border-bottom: 1px solid #DFDFDF;

      strong {
        @include webkit-box(3);
        overflow: hidden;
        max-height: 4.5em;
        font-size: 1.125rem;
        line-height: 1.5em;
      }

      em {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 16px;
      }

      &:first-child {
        strong {
          @include webkit-box(1);
          white-space: nowrap;
          font-size: 1.75rem;
          line-height: 1.3em;
        }
      }

      &:last-child {
        border-bottom: 0 none;
      }

      &:nth-child(1n+6) {
        display: none;
      }
    }
  }
}

@media (min-width: 769px) {
  .tnm-widget-container {
    &.type-featured {
      .tnm-widget {
        position: relative;
      }

      .item {
        float: left;
        margin-bottom: 18px;
        margin-left: 3%;
        width: 35%;

        &:first-child {
          margin-bottom: 0;
          margin-left: 0;
          width: 62%;
          border-bottom: 0 none;
          font-size: 18px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  @media (min-width: 1440px) {
    .type-featured {
      .item {
        width: 33%;

        &:first-child {
          width: 64%;
        }
      }
    }
  }
}
