$orange: #f46b45;
$blue: #4167d9;
$green: #11998e;
$gray: #1d2129;

.tnm-head-container {
  &.open {
    .buttons button {
      color: #FFF;
    }

    .tnm-orange & {
      background-color: $orange;
    }
    .tnm-blue & {
      background-color: $blue;
    }
  }
}
