@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 700;
  src: local('Spoqa Han Sans Bold'),
    url('fonts/spoqa-han-sans-bold.woff') format('woff');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
  src: local('Spoqa Han Sans Regular'),
    url('fonts/spoqa-han-sans-regular.woff') format('woff');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 300;
  src: local('Spoqa Han Sans Light'),
    url('fonts/spoqa-han-sans-light.woff') format('woff');
}

@font-face {
  font-family: Avenir;
  font-weight: lighter;
  src: local('Avenir LT Std 35 Light'),
    url('fonts/AvenirLTStd-Light.woff') format('woff');
}

@font-face {
  font-family: Avenir;
  font-weight: normal;
  src: local('Avenir LT Std 65 Medium'),
    url('fonts/AvenirLTStd-Medium.woff') format('woff');
}

@font-face {
  font-family: Avenir;
  font-weight: bolder;
  src: local('Avenir LT Std 95 Black'),
    url('fonts/AvenirLTStd-Black.woff') format('woff');
}
