@import 'variables';
@import 'helper';
@import 'widget/colorset';
@import 'widget/featured';
@import 'widget/card';
@import 'widget/category';
@import 'widget/about';

.tnm-widget-container {
  @extend .clearfix;
  margin-bottom: 80px;
  color: #000;

  a {
    text-decoration: none;
    color: #000;
  }

  .widget-title {
    border-bottom: 1px solid #d8d8d8;
    font-size: 1.25rem;
    margin: 0 0 36px;
    padding-bottom: 16px;

    em,
    & {
      padding-bottom: 16px;
    }

    em {
      font-style: normal;
      border-bottom: 1px solid #d8d8d8;
    }
  }

  .item {
    strong {
      font-size: 1rem;
      line-height: 1.5em;
      margin-bottom: 5px;
    }
    em {
      font-size: 0.875rem;
    }
    a {
      @extend .clearfix;

      &:hover,
      &:focus {
        strong {
          color: #767676;
        }
        em {
          color: #C9C9C9;
        }
        p {
          color: #ADADAD;
        }
      }
    }
  }
}

.tnm-widget {
  color: #000;

  .cover-image {
    @extend .thumbnail-covered;
    text-indent: -99999px;
    line-height: 0;
    margin-bottom: 16px;
    background-color: #E7EAF1;
    background-image: url('../../../assets/core/common/img/default_image_1200x800.jpg');
  }

  ul {
    @extend .remove-style;
    @extend .clearfix;
  }

  .item {
    em {
      display: block;
      font-style: normal;
      color: #909090;
    }
  }
}
