@charset "utf-8";

@import 'webfont';
@import "reset";
@import "helper";
@import "colorset";
@import "header";
@import "main";
@import "footer";

@import "content";



/* common */
html,
body {
  height: 100%;

}

html {
  &.tnm-covered {
    position: relative;

    body {
      overflow: hidden;
    }
  }
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Spoqa Han Sans', "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", "Nanum Gothic", Dotum, '돋움', "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.tnm-container {
  max-height: 100%;
}

.tnm-main-wrap,
.tnm-footer-wrap {
  padding: 0 20px;
  margin: 0 auto;
}

@import "responsive";
